<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dogform</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69e5f61610.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--nav bar-->

<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <div class="container-fluid nav-part">

        <!--        <div class="log-home">-->
        <div class="nav-item">
            Oscar's Pet Store |
        </div>

        <a href="customer.html" class="navbar-brand">
            <i class="fas fa-home"></i>
            HOME
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--        </div>-->

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
<!--                <li class="nav-item">-->
<!--                    <a href="customer.html" class="nav-link"> Customer <span>|</span></a>-->
<!--                </li>-->

                <li id="dog-button" class="nav-item">
                    <form action="#" th:action="@{/dogs}" >
                        <input class="pet-button" type="submit" value="DOGS" style="width:100%"/>
                    </form>
                </li>
                <li id="cat-button" class="nav-item">
                    <form action="#" th:action="@{/cats}" >
                        <input class="pet-button"  type="submit" value="CATS" style="width:100%"/>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<br>

<div class="jumbotron jumbotron-fluid">
    <div class="container head-j">
        <!--        <h1 class="display-4">Fluid jumbotron</h1>-->
        <div class="navbar-brand" style="color: white"><h2>OSCAR'S PET STORE</h2></div>

        <div style="color: white"><h4>HELPING PETS</h4></div>

    </div>
</div>
<!--three columns-->
<div class="row">
    <!--    first column-->
    <div class="col-2 first-col">
        <div class="left-div">

        </div>
    </div>
    <!--    second column-->
    <div class="col-6">
        <div class="jumbotron col-md-12 justify-content-center" id="bottom-jumbo">

            <form action="#" th:action="@{/addPet}" th:object="${pet}" method="post">

                <div id="name-col" class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="cname-id">Pet Name </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="cname-id" th:field="*{petName}" style="width: 100%"/>
                        </div>
                    </div>
                </div>
                <hr/>
                <!--////////////-->

                <div id="quest-col" class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="phone-id">Pet Age </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="phone-id" th:field="*{age}" style="width: 100%"/>
                        </div>
                    </div>
                </div>

                <hr/>
                <!--////////////-->

                <div id="ptype-col" class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="gender-id">Pet Gender :</label>
                        </div>
                        <div class="col-md-8">
                            <select name="pet" id="gender-id" th:field="*{gender}" >
                                <option name="pet" th:text="Male" th:value='dog'>Male</option>
                                <option name="pet" th:text="Female" th:value='cat'>Female</option>
                            </select>

                        </div>
                    </div>
                </div>
                <hr/>
                <!--////////////-->

                <div id="breed-col" class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="breed-id">Breed Type :</label>
                        </div>
                        <div class="col-md-8">
                            <select name="pet" id="breed-id" th:field="*{breedType}" >
                                <option name="pet" th:text="Alaskan_Husky" th:value='Alaskan_Husky'></option>
                                <option name="pet" th:text="Boxer" th:value='Boxer'></option>
                                <option name="pet" th:text="Chihuahua" th:value='Chihuahua'></option>
                                <option name="pet" th:text="Golden_Retriever" th:value='Golden_Retriever'></option>
                                <option name="pet" th:text="Maltese" th:value='Maltese'></option>
                                <option name="pet" th:text="Poodle" th:value='Poodle'></option>
                                <option name="pet" th:text="Shar_Pei" th:value='Shar_Pei'></option>
                                <option name="pet" th:text="Yorkshire_Terrier" th:value='Yorkshire_Terrier'></option>
                            </select>

                        </div>
                    </div>
                </div>
                <hr/>
                <!--///////////////////////////-->
                <!--////////////-->

                <div id="info-col" class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="phone-id">Pet Information </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="info-id" th:field="*{petInfo}" style="width: 100%"/>
                        </div>
                    </div>
                </div>


                <br/>
                <div class="col-md-12 justify-content-center offset-4">
                    <input type="submit" value="Add" style="width:30%"/>

                </div>

            </form>

        </div>
    </div>
    <!--    third column-->
    <div class="col-4">
        <div class="sticky">
            <div class="box">
                <img src="dog.jpg" alt="dog">

            </div>

        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>